<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{master}">
<head>
<meta charset="UTF-8">
<title>Product</title>
</head>
<body>
	<h3 layout:fragment="sub-title"> <th:block th:text="${product.id == 0 ? 'Add' : 'Edit'}"></th:block> Product</h3>
	<a layout:fragment="add-link" th:href="@{/products}" class="btn btn-success w-50">Back</a>
	<form layout:fragment="content-body" th:action="@{/products/save}" class="form col-6" th:object="${product}" method="post" enctype="multipart/form-data">
			<input type="hidden" th:field="*{id}"/>
			<input type="hidden" th:field="*{photo}"/>
			<div class="mb-3">
				<label for="" class="form-label">Category</label>
				<select th:field="*{category.id}" class="form-select">
					<th:block th:each="cat: ${categories}">
						<option th:value="${cat.id}" th:text="${cat.name}"></option>
					</th:block>
				</select>
			</div>
			<div class="mb-3">
				<label for="" class="form-label">Name</label>
				<input name="" type="text" class="form-control" th:field="*{name}" required="required"/>
			</div>
			<div class="mb-3">
				<label for="" class="form-label">Price</label>
				<input type="text" class="form-control" th:field="*{price}" required="required"/>
			</div>
			<div class="row mb-3">
				<div class="col-3">
					<label for="" class="form-label">Product Type</label>
				</div>
				<div class="col">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" th:value="electronics" th:field="*{type}">
					  <label class="form-check-label" for="inlineRadio1">Electronics</label>
					</div>
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" th:value="cloths" th:field="*{type}">
					  <label class="form-check-label" for="inlineRadio2">Cloths</label>
					</div>
				</div>
				
			</div>
			<div class="mb-3">
			  <input class="form-control" type="file" id="formFile" name="photo_file">
			</div>
			<button class="btn btn-success float-end">Save</button>
		</form>
</body>
</html>