<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{master}">
<head>
<meta charset="UTF-8">
<title>Product</title>
</head>
<body>
	<h3 layout:fragment="sub-title">Product List</h3>
	<a th:href="@{/products/add}" class="btn btn-success" layout:fragment="add-link">Add</a>
	
	<table class="table" layout:fragment="content-body">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Price</th>
				<th>Category</th>
				<th>Type</th>
				<th>Image</th>
				<th>Action</th>
			</tr>
			<th:block th:each="prod : ${productList}">
				<tr>
					<td th:text="${prod.id}">ID</td>
					<td th:text="${prod.name}">Name</td>
					<td th:text="${prod.price}">Price</td>
					<td th:text="${prod.category.name}">Category</td>
					<td th:text="${prod.type}">Type</td>
					<td>
						<img th:src="@{${prod.photoPath}}" alt="No Photo" width="50" height="50" />
						
					</td>
					<td>
						<a th:href="@{'/products/edit/' + ${prod.id}}" class="text-success">Edit</a> | 
						<a th:href="@{'/products/delete/' + ${prod.id}}" class="text-danger">Delete</a>
					</td>
				</tr>
			</th:block>
		</table>
</body>
</html>