<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MVC</title>
<!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<script th:src="@{/js/}"></script> -->

<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}" />
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container mt-4">
		<h1 class="text-primary" >Return Types</h1>
		<ul>
			<li>
				<a th:href="@{/string}">String Return Type</a>
			</li>
			<li>
				<a th:href="@{/void}">No Return Type</a>
			</li>
			<li>
				<a th:href="@{/mv}">ModelAndView Return Type</a>
			</li>
			<li>
				<a href="@{/detail}">Path Parameter</a>
			</li>
		</ul>
		<hr />
		
	</div>
</body>
</html>