<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{storefront-template}"
	th:with="title1='My Cart',title2='Cart'">
<head>
	<title>Cart</title>
</head>
<body>
<section class="ftco-section ftco-cart" layout:fragment="content-body">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>Product</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody class="cart-items">
						      <tr class="text-center">
						        <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
						        <td class="product-name">
						        	<p>Young Woman Wearing Dress</p>
						        </td>
						        <td class="price">$4.90</td>
						        
						        <td class="quantity">
						        	<div class="input-group mb-3">
					             	<input type="number"  name="quantity" class="form-control" value="1" min="1" max="100">
					          	</div>
					          </td>
						      <td class="total">$4.90</td>
						     </tr><!-- END TR-->

						      
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-center">
    			<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
    						<span class="total">$20.60</span>
    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
    						<span>0.00 ks.</span>
    					</p>
    					<p class="d-flex">
    						<span>Discount</span>
    						<span>0.00 ks.</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span class="grand-total">$17.60</span>
    					</p>
    				</div>
    				<p class="text-center"><a th:href="@{/cart/checkout}" class="btn btn-primary py-3 px-4 btn-checkout">Proceed to Checkout</a></p>
    			</div>
    		</div>
			</div>
		</section>
		<th:block layout:fragment="js">
			<script th:src="@{/app/js/cart.js}"></script>
		</th:block>
</body>
</html>