<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{storefront-template}"
	th:with="title1='Checkout',title2='checkout'">
<head>
	<title>Checkout</title>
</head>
<body>
<section class="ftco-section" layout:fragment="content-body">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 ftco-animate">
						
							<h3 class="mb-4 billing-heading">Billing Details</h3>
	          	<div class="row align-items-end">
	          		<div class="col-md-6">
	                <div class="form-group">
	                	<label for="firstname">Name</label>
	                  <input id="r-name" type="text" class="form-control" th:value="${name}" placeholder="Enter name">
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label for="lastname">Email</label>
	                  <input id="r-name" type="text" class="form-control" th:value="${email}" placeholder="Enter email">
	                </div>
                </div>
     
		            <div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label for="streetaddress">Phone</label>
	                  <input id="r-name" type="text" class="form-control" th:value="${phone}" placeholder="Ente phone number">
	                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
		            	<label for="streetaddress">Address</label>
	                  <input id="r-name" type="text" class="form-control" th:value="${address}" placeholder="Appartment, suite, unit etc: (optional)">
	                </div>
		            </div>
		            <div class="w-100"></div>
		            
		            
		            </div>
		            <div class="w-100"></div>
		            
                
	            </div>
	          <!-- END -->



	          <div class="row mt-5 pt-3 d-flex">
	          	<div class="col-md-12 d-flex">
	          		<div class="cart-detail cart-total bg-light p-5 p-md-4">
	          			<h3 class="billing-heading mb-4">Cart Total</h3>
	          			<p class="d-flex">
		    						<span>Subtotal</span>
		    						<span class="total">$20.60</span>
		    					</p>
		    					<p class="d-flex">
		    						<span>Delivery</span>
		    						<span>0.00 ks.</span>
		    					</p>
		    					<p class="d-flex">
		    						<span>Discount</span>
		    						<span>0.00 ks.</span>
		    					</p>
		    					<hr>
		    					<p class="d-flex total-price">
		    						<span>Total</span>
		    						<span class="grand-total">$17.60</span>
		    					</p>
		    					<p class="mt-5"><a href="#"class="btn btn-primary py-3 px-4 btn-place-order">Place an order</a></p>
								</div>
	          	</div>
	          	
	          </div>
          </div> <!-- .col-md-8 -->
        </div>
    </section> <!-- .section -->
    <th:block layout:fragment="js">
    	<script th:src="@{/app/js/cart.js}"></script>
    	<script th:src="@{/app/js/checkout.js}"></script>
    </th:block>
</body>
</html>